body {
  background-color: #faf6ee;
  font-family: "Roboto", sans-serif;
}

.fullText {
  background: #c29870;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(0.5, 50, 100, 0.08);
  border-radius: 16px;
}

a {
  color: #faf6ee;
}
header {
  border-bottom: 1px solid #faf6ee;
  padding: 0 0 30px 0;
}
.searchInput {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.submitButton {
  background: #a77a5b;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

main {
  padding: 30px 0;
}

.weatherData {
  display: flex;
  justify-content: space-between;
}

.weatherCity {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weatherDetails {
  font-size: 16px;
  line-height: 24px;
  color: rgba(66, 55, 33, 0.479);
  font-weight: 500;
}

.weatherDetails strong {
  color: #70523d;
}
.weatherTemperature {
  display: flex;
}

.temperatureIcon {
  width: 90px;
  height: 90px;
}

.temperatureNumber {
  font-size: 85px;
  font-weight: bold;
  line-height: 88px;
}

.temperatureUnit {
  margin-top: 6px;
  font-size: 28px;
}

.weatherForecast {
  margin-top: 20px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-around;
}

.forecastIcon {
  width: 50px;
  text-align: center;
}
.weatherDate {
  font-size: 16px;
  opacity: 0.5;
}

.forecastTemp {
  font-size: 13px;
}

.forecastTempMin {
  opacity: 0.5;
}

footer {
  border-top: 1px solid #faf6ee;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
